<!DOCTYPE html>

<html>

<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	<link href='http://fonts.googleapis.com/css?family=Raleway:800' rel='stylesheet' type='text/css'>
</head>

<body style="color:#5aac7b">


<h1 style="color:#82b548"> <%= "#{@user.first_name}" %>, you've been added to Grouppraisal!</h1>
<h2 style="color:#82b548">To access your account, click <%= link_to "here", "http://localhost:3000" %> and sign in using your Groupon email account. Your temporary password is "password123". Be sure to change this password in "Edit Profile" once you are signed in. Enjoy!<br><br>

Thanks<br>The Grouppraisal Team</h2>

</body>

</html>