
<div class = "row">
	<div class="col-sm-2">
	</div>
	<div class="col-sm-8">
		<h1>Groupon SA Roster</h1>
	</div>
	<div class="col-sm-2">
		<div class = "current_quarter">Current Quarter</div>
		<div class = "current_year">Current Year</div>
	</div>
</div>




<% @users.each do |user| %>
	<p class ="roster" ><% name = user.first_name + " " + user.last_name %>
	<%= link_to name, user_path(user) %> - <%= user.job_title %></p>
	<hr/>

<% end %>

