<p><img class="loader" src="../img/loading_green.gif" HEIGHT=100% WIDTH=auto></a> </p>

<article id="primary-content" class="animated fadeIn">
<img class="back" src="https://mindofmullybizhausshoppe.files.wordpress.com/2012/10/white-rectangle-large291.gif" HEIGHT=100% WIDTH=auto>

<% alec1 = User.find_by(email: 'aortiz2@stanford.edu') %>


<% UserMailer.email(alec1, @arr).deliver_now %>


<h1>All Emails are qued to send</h1>
</article>



	
