
<body>
	<article id="primary-content" class="animated fadeIn">

<h1>Add an appraisal report for <%= @user.first_name %> <%= @user.last_name %>:</h1>
	<%= render 'results/form' %>

	</article>

</body>