
<body>
<p><img class="loader" src="../img/Preloader_2.gif" HEIGHT=100% WIDTH=auto></a> </p>

	<article id="primary-content" class="animated fadeIn">

	<img class="back" src="https://mindofmullybizhausshoppe.files.wordpress.com/2012/10/white-rectangle-large291.gif" HEIGHT=100% WIDTH=auto>

<h1>Add an appraisal report for <%= @user.first_name %> <%= @user.last_name %>:</h1>
	<%= render 'results/form' %>

	</article>

</body>