# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#


development: 
  adapter: sqlite3
  pool: 5
  timeout: 5000
  database: dc/development.sqlite3

production:
  adapter: postgresql
  encoding: unicode
  database: myapp_development
  pool: 5
  username: student
  password: password

test:
  adapter: postgresql
  encoding: unicode
  database: myapp_test
  pool: 5
  username: student
  password: password
