// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background: #fff;
	padding: 0px 100px 100px 100px;
	text-align: center;
}

h1{
	padding-top: 60px;
	padding-bottom: 20px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #82b548;
}

h2{
	color: #82b548;
	padding-top: 20px;
}
h3{
	color: #82b548;
	padding-bottom: 20px;
}


h4 {
	padding-left: 15px;
	padding-right: 15px;
}

.roster{
	font-size: 18px;
}

.current_quarter{
	color: #82b548;
	font-size: 20px;
	text-align: center;
	
}
.current_year{
	color: #82b548;
	font-size: 20px;
	text-align: center;
}

.btn-success{
	border-color: #82b548;
	background-color: #82b548;
}

a, a:hover, a:active, a:visited { 
	color: #82b548; 
}

.groupon_color{
	color: #82b548;
}



.add{
	float:right;
	padding-top: 55px;
}

.delete{
	float:left;
	padding-top: 85px;
}

hr {
    border: 0;
    height: 3px; /* Firefox... */
    background-image: linear-gradient(to right, rgba(130, 181, 72, .25), rgba(130, 181, 72, .75), rgba(130, 181, 72, .25));
}

textarea  
{   
   font-size: 25px;
   padding: 10px 20px 10px 20px;   
}









