// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background: #fff;
	padding: 0px 100px 100px 100px;
	text-align: center;
}

h1{
	
	color: #82b548;
}
h2{
	color: #82b548;
	padding-top: 20px;
}
h3{
	color: #82b548;
	padding-bottom: 20px;
}
h1{
	padding-bottom: 20px;
}

.roster{
	font-size: 18px;
}

.current_quarter{
	color: #82b548;
	font-size: 20px;
	text-align: center;
	
}
.current_year{
	color: #82b548;
	font-size: 20px;
	text-align: center;
}

.btn-success{
	border-color: #82b548;
	background-color: #82b548;
}

a, a:hover, a:active, a:visited { 
	color: #82b548; 
}






