// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background: #fff;
	padding: 0px 100px 100px 100px;
	text-align: center;
}

h1{
	
	color: #82b548;
}
h2{
	color: #82b548;
	padding-top: 20px;
}
h3{
	
	padding-bottom: 20px;
}
h1{
	padding-bottom: 20px;
}

.form{
	background: #82b548;
}
