// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
	padding-top: 60px;
	padding-bottom: 20px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #82b548;
}